<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Spring Boot Thymeleaf - Bootstrap WebJars</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
</br></br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
            <div class="well">
				<form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Name" required>
						
					</div>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
					</br>
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
						<input type="email" th:field="*{email}" id="email" class="form-control" placeholder="Email" required>
					</div>
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></br></br>
					<button type="submit" class="btn btn-primary">Add User</button>
				</form>
				</div>
			</div>
		</div>
<div class="col-sm-4"></div>
</body>

</html>